@import './transition.scss';

html,
body,
div,
span,
h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
address,
em,
img,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 0;
  vertical-align: baseline;
  color: #d7d4de;
}

// HTML5 display-role reset for older browsers
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 0;
  padding: 0;
  margin: 0;
}

html,
body {
  height: 100%;
  overflow: auto;
  background: #181819;
  -webkit-overflow-scrolling: touch;
}

input {
  font-size: 24px;
  border: 0;
  background: transparent;
}

img {
  -o-object-fit: cover;
  object-fit: cover;
}

.container {
  height: 100%;
}